.zayaty_style {
    position: absolute;
    width: 15%;
    border-radius: 2cm;
    margin-left: 60px;
    margin-top: 30px;
}

.zayaty_style:hover {
    position: absolute;
    width: 16%;
    transition: 5s;
}

.Mark_style {
    position: absolute;
    width: 15%;
    
    border-radius: 2cm;
    margin-left: 860px;
    margin-top: 30px;

}

.Mark_style:hover {
    position: absolute;
    width: 16%;
    transition: 5s;
}
.nour_style {
    position: absolute;
    width: 15%;
    border-radius: 2cm;
    margin-left: 60px;
    margin-top: 350px;
}

.nour_style:hover {
    position: absolute;
    width: 16%;
    transition: 5s;
}
.Robert_style {
    position: absolute;
    width: 15%;
    height: 35%;
    border-radius: 2cm;
    margin-left: 860px;
    margin-top: 350px;
}

.Robert_style:hover {
    position: absolute;
    width: 16%;
    transition: 5s;
}
